<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Sign-Up Page</title>
    <th:block th:replace="~{fragments/head.html::bootstrap}" />  <!-- ~ :  Alt+126(numerini)-->
    <th:block th:replace="~{fragments/head.html::style_jsscript}" />
</head>
<body class="bg-form">
    <div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
        
        <div class="card shadow-sm rounded-2 p-4">
            <h2 class="fw-bold mb-0 text-primary">Create your account</h2>
            
            <form th:action="@{/users/store}" method="post" th:object="${user}">

                <div class="form-groupmb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" th:field="*{username}" class="form-control" id="username" th:errorClass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}">
                        <ul style="margin-bottom: -0.02rem;">
                            <li th:each="error : ${#fields.errors('username')}" th:text="${error}" />
                        </ul>
                    </div>
                </div>
            
                <div class="form-group mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" th:field="*{password}" class="form-control" id="password" th:errorClass="is-invalid">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}">
                        <ul style="margin-bottom: -0.02rem;">
                            <li th:each="error : ${#fields.errors('password')}" th:text="${error}" />
                        </ul>
                    </div>
                </div>
            
                <div class="form-group mb-2">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control" required>
                </div>

                <div class="form-group mb-2">
                    <label for="role" class="form-label">Role</label>
                    <h6 class="text-muted" style="font-size: 0.8rem; margin-top: -0.4rem;">ctrl+clik to select multiple</h6>
                    <select class="form-select" id="role" th:field="*{roles}" multiple style="height: 10rem;" th:classappend="${#fields.hasErrors('roles')} ? ' is-invalid' : ''">
                        <option th:each="role : ${rolesList}" th:value="${role.id}" th:text="${role.name}"></option>
                    </select>
                    
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('roles')}">
                        <ul style="margin-bottom: -0.02rem;">
                            <li th:each="error : ${#fields.errors('roles')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>
            
                <button type="submit" class="btn btn-primary w-100 mt-2">Register</button>

            </form>
            
            <p class="mt-3 text-center">
                Already have an account? 
                <a th:href="@{/security/sign-in}">Sign in</a>
            </p>
        </div>

    </div>
</body>
</html>