<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persons Create or Edit Page</title>
    <th:block th:replace="~{fragments/head.html::bootstrap}" />  <!-- ~ :  Alt+126(numerini)-->
    <th:block th:replace="~{fragments/head.html::style_jsscript}" />
    <th:block th:replace="~{fragments/head.html::flatpickr-xvisualinput-dateForm}" />
    <th:block th:replace="~{fragments/head.html::number-format-xvisual}" />
</head>
<body class="bg-form">

    <div class="container mt-4">
        <h1 th:if="${edit}" class="fw-bold mb-0 text-primary">Edit Person</h1>
        <h1 th:unless="${edit}" class="fw-bold mb-0 text-primary">Register New Person - Nubbin™</h1>
    
        <form th:action="@{${edit}? @{|/persons/${person.id}/update|} : @{|/persons/store|} }" method="post" th:object="${person}" class="mt-3">
            <input th:if="${edit}" type="hidden" name="_method" value="put">

            <div class="form-group mb-2">
                <label for="firstname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstname" th:field="*{firstname}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('firstname')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('firstname')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
        
            <div class="form-group mb-2">
                <label for="lastname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastname" th:field="*{lastname}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('lastname')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('lastname')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
        
            <!--username already setted in sign-up form-->
            <!-- <div class="form-group mb-2">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" th:field="*{username}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('username')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div> -->
        
            <div class="form-group mb-2">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" th:field="*{email}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('email')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="hidden" name="phoneNumber" id="phoneNumber" th:field="*{phoneNumber}" />
                <input type="text" class="form-control"
                    id="phoneNumberRendered"
                    placeholder="e.g. +33 555 666 8888"
                    th:value="*{phoneNumber}"
                    th:classappend="${#fields.hasErrors('phoneNumber')} ? ' is-invalid' : ''">  <!--'is-invalid' x red borders-->
            
                <div class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}">  <!--x text in red-->
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

        
            <div class="form-group mb-2">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" th:field="*{country}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('country')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('country')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
        
            <div class="form-group mb-2">
                <label for="birthdate" class="form-label">Birthdate</label>
                <input type="text" id="birthdate" name="birthdate" class="form-control applyflatpickr" placeholder="YYYY/MM/dd"  th:field="*{birthdate}" th:errorclass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('birthdate')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('birthdate')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
        
            <button type="submit" class="btn btn-primary my-4">
                <i class="bi bi-arrow-right-square me-2"></i>
                <span>Save and Continue</span>
            </button>
        </form>
    </div>
    

</body>
</html>