<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies Create or Edit Page</title>
    <th:block th:replace="~{fragments/head.html::bootstrap}" />  <!-- ~ :  Alt+126(numerini)-->
    <th:block th:replace="~{fragments/head.html::style_jsscript}" />
    <th:block th:replace="~{fragments/head.html::companies-special-converts}" />
</head>
<body class="bg-form">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center gap-2 mb-1 mt-4">
            <h1 th:if="${edit}" class="fw-bold mb-0 text-primary">Edit Company</h1>
            <h1 th:unless="${edit}" class="fw-bold mb-0 text-primary">Register New Company - Nubbin™</h1>
        </div>

        <form th:action="@{${edit}? @{|/companies/${company.id}/update|} : @{|/companies/store|}  }" method="post" th:object="${company}" class="mt-3">
            <input th:if="${edit}" type="hidden" name="_method" value="put">

            <div class="form-group mb-2">
                <label for="companyLegalName" class="form-label">Company Legal Name</label>
                <input type="text" class="form-control" id="companyLegalName" th:field="*{companyLegalName}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('companyLegalName')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('companyLegalName')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="companyUsername" class="form-label">Company Username</label>
                <input type="text" class="form-control" id="companyUsername" th:field="*{companyUsername}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('companyUsername')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('companyUsername')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="companyEINRendered" class="form-label">Company EIN</label>
                <input type="hidden" name="companyEIN" id="companyEIN" th:field="*{companyEIN}" />
                <input type="text" class="form-control"
                    id="companyEINRendered"
                    placeholder="e.g. 12-3456789"
                    th:value="*{companyEIN}"
                    th:classappend="${#fields.hasErrors('companyEIN')} ? ' is-invalid' : ''">
                
                <div class="invalid-feedback" th:if="${#fields.hasErrors('companyEIN')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('companyEIN')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="companyStateTaxID" class="form-label">State Tax ID</label>
                <input type="hidden" name="companyStateTaxID" id="companyStateTaxID" th:field="*{companyStateTaxID}" />
                <input type="text" class="form-control"
                id="companyStateTaxIDRendered"
                placeholder="e.g. 123-4567-8"
                th:value="*{companyStateTaxID}"
                th:classappend="${#fields.hasErrors('companyStateTaxID')} ? ' is-invalid' : ''">
                
                <div class="invalid-feedback" th:if="${#fields.hasErrors('companyStateTaxID')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('companyStateTaxID')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <button class="btn btn-primary my-4">
                <i class="bi bi-arrow-right-square me-2"></i>
                <span>Save and Continue</span>
            </button>
        </form>
    </div>
</body>
</html>