*{margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: Helvetica,"Roboto", Arial, sans-serif;
}
img{max-width: 100%;}
.debug *{border: 1px black dashed;}

:root{
    --planned: #17a2b8;
    --in_progress: #007bff;
    --on_hold: #ffc107;
    --completed: #28a745;
    --cancelled: #dc3545;
    --delayed: #6c757d;
    --in_review: #343a40;
    --in_test: #6610f2;
    --in_debug: #495057;

    --purple: #6A4CFF;
    --purple2: #5736D6;
    --purple_ms_teams: #6264A7;
    --form: #f4f6f9;
}
.bg-planned{background-color: var(--planned);}
.bg-in_progress{background-color: var(--in_progress);}
.bg-on_hold{background-color: var(--on_hold);}
.bg-completed{background-color: var(--completed);}
.bg-cancelled{background-color: var(--cancelled);}
.bg-delayed{background-color: var(--delayed);}
.bg-in_review{background-color: var(--in_review);}
.bg-in_test{background-color: var(--in_test);}
.bg-in_debug{background-color: var(--in_debug);}

.bg-purple{
    background-color: var(--purple);
    &:hover{
        background-color: var(--purple2);
    }
}
.bg-teams{
    background-color: var(--purple_ms_teams) !important;
    color: white !important;
}
.bg-form{
    background-color: var(--form);
}


.form-select:hover {
    background-color: #f0f0f0;
}
.form-select option:hover {
    background-color: #007bff;
    color: white;
}

nav a:hover{
    text-decoration: underline;
    color: #343a40;
}

/* style x single-or-company page */
.card-option {
    transition: all 0.3s ease;
    border-radius: 1rem;
    /* border: none; */
}
.card-option:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.card-option .card-body {
    text-align: center;
    padding: 2rem;
}
.card-title {
    font-size: 1.5rem;
    font-weight: 600;
}
.card-text {
    color: #6c757d;
}
a.card-link {
    text-decoration: none;
    color: inherit;
}