<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <th:block th:replace="~{fragments/head.html::bootstrap}" />  <!-- ~ :  Alt+126(numerini)-->
    <th:block th:replace="~{fragments/head.html::style_jsscript}" />
</head>
<body>

    <nav th:replace="~{fragments/layout.html::navbarNubbin}"></nav>

    <div class="container">
        <h1 class="">Hi, homepage</h1>
        <a th:href="@{/persons/create}" class="btn btn-primary">Create Person</a>

        <a th:href="@{/projects}" class="btn btn-primary">Projects</a>
    </div>

    

</body>
</html>