<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Create or Edit</title>
    <th:block th:replace="~{fragments/head.html::bootstrap}" />  <!-- ~ :  Alt+126(numerini)-->
    <th:block th:replace="~{fragments/head.html::style_jsscript}" />
    <th:block th:replace="~{fragments/head.html::number-format-xvisual}" />
    <th:block th:replace="~{fragments/head.html::flatpickr-xvisualinput-dateForm}" />
</head>
<body>
    
    <div class="container">

        <div class="d-flex justify-content-between align-items-center gap-2 mb-1 mt-4">
            <h1 th:if="${edit}" class="fw-bold mb-0 text-primary">Edit The Project</h1>
            <h1 th:unless="${edit}" class="fw-bold mb-0 text-primary">Create New Project</h1>

            <form th:action="@{/projects/{id}/delete(id=${project.id})}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button class="btn btn-danger">
                    <i class="bi bi-trash me-1"></i>
                    <span>Delete</span>
                </button>
            </form>
            
        </div>

        <form th:action="@{${edit}? @{|/projects/${project.id}/update|} : @{|/projects/store|}  }" method="post" th:object="${project}" class="mt-3">
            <input th:if="${edit}" type="hidden" name="_method" value="put">

            <div class="form-group mb-2">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" th:field="*{title}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('title')}" th:text="${error}" />
                    </ul>
                </div>
            </div>
            <div class="form-group mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="description" th:field="*{description}" rows="3" th:errorClass="is-invalid"></textarea>
                
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('description')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-12 col-md-4 mb-2">
                    <label for="status" class="form-label">Status</label>
                    <select class="form-select" id="status" th:field="*{status}">
                        <option value="Planned">Planned</option>
                        <option value="In_Progress">In Progress</option>
                        <option value="On_Hold">On Hold</option>
                        <option value="Completed">Completed</option>
                        <option value="Cancelled">Cancelled</option>
                        <option value="Delayed">Delayed</option>
                        <option value="In_Review">In Review</option>
                        <option value="In_Test">In Test</option>
                        <option value="In_Debug">In Debug</option>
                    </select>
                </div>
                
                <div class="form-group col-4 d-flex flex-column col-12 col-md-4 mb-2">
                    <label for="isActive" class="form-label">Active (exists)?</label>
                    <div class="btn-group " role="group" aria-label="Active">
                        <input type="radio" class="btn-check" id="isActiveTrue" name="isActive" th:field="*{isActive}" th:value="true" autocomplete="off" 
                            th:checked="${project.isActive != null and project.isActive == true}" />
                        <label class="btn btn-outline-primary rounded-start" for="isActiveTrue">Yes</label>
                        
                        <input type="radio" class="btn-check" id="isActiveFalse" name="isActive" th:field="*{isActive}" th:value="false" autocomplete="off" 
                            th:checked="${project.isActive != null and project.isActive == false}" />
                        <label class="btn btn-outline-primary rounded-end" for="isActiveFalse">No</label>
                    </div>
                </div>
                
                <div class="form-group col-4 d-flex flex-column col-12 col-md-4 mb-2">
                    <label for="isCompleted" class="form-label">Completed (for now)?</label>
                    <div class="btn-group" role="group" aria-label="Completed">
                        <input type="radio" class="btn-check" id="isCompletedTrue" name="isCompleted" th:field="*{isCompleted}" th:value="true" autocomplete="off" 
                            th:checked="${project.isCompleted != null and project.isCompleted == true}" />
                        <label class="btn btn-outline-primary rounded-start" for="isCompletedTrue">Yes</label>
                        
                        <input type="radio" class="btn-check" id="isCompletedFalse" name="isCompleted" th:field="*{isCompleted}" th:value="false" autocomplete="off" 
                            th:checked="${project.isCompleted != null and project.isCompleted == false}" />
                        <label class="btn btn-outline-primary rounded-end" for="isCompletedFalse">No</label>
                    </div>
                </div>

            </div>

            <div class="form-group mb-2">
                <label for="category" class="form-label">Category</label>
                <input type="text" class="form-control" id="category" th:field="*{category}" placeholder="e.g. Cloud Service" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('category')}">
                    <ul style="margin-bottom: -0.02rem;">
                        <li th:each="error : ${#fields.errors('category')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <div class="form-group mb-2">
                <label for="budget" class="form-label">Budget</label>
                <input type="text" class="form-control" id="budget" placeholder="e.g. $1,000,000.00">
                <input type="hidden" name="budget" id="budgetHidden" th:field="*{budget}" />
            </div>
            
            <div class="form-group mb-2 d-flex flex-column">
                <label for="priority" class="form-label">Priority</label>
                <div class="btn-group" role="group" aria-label="Priority">
                    <input type="radio" class="btn-check" id="priorityLow" name="priority" th:field="*{priority}" th:value="Low"
                        autocomplete="off" th:checked="${project.priority != null and project.priority == 'Low'}" />
                    <label class="btn btn-outline-primary rounded-start" for="priorityLow">Low</label>
            
                    <input type="radio" class="btn-check" id="priorityMedium" name="priority" th:field="*{priority}" th:value="Medium"
                        autocomplete="off" th:checked="${project.priority != null and project.priority == 'Medium'}" />
                    <label class="btn btn-outline-primary" for="priorityMedium">Medium</label>
            
                    <input type="radio" class="btn-check" id="priorityHigh" name="priority" th:field="*{priority}" th:value="High"
                        autocomplete="off" th:checked="${project.priority != null and project.priority == 'High'}" />
                    <label class="btn btn-outline-primary" for="priorityHigh">High</label>
            
                    <input type="radio" class="btn-check" id="priorityUrgent" name="priority" th:field="*{priority}" th:value="Urgent"
                        autocomplete="off" th:checked="${project.priority != null and project.priority == 'Urgent'}" />
                    <label class="btn btn-outline-primary rounded-end" for="priorityUrgent">
                        <i class="bi bi-exclamation-triangle"></i>
                        <span>Urgent</span>
                    </label>
                </div>
            </div>

            <div class="row pt-1">
                <div class="form-group col-12 col-md-4  mb-2">
                    <label for="dueDate" class="form-label">Due Date</label>
                    <input type="text" id="dueDate" name="dueDate" class="form-control applyflatpickr" placeholder="YYYY/MM/dd" th:field="*{dueDate}" th:errorclass="is-invalid" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('dueDate')}">
                        <ul style="margin-bottom: -0.02rem;">
                            <li th:each="error : ${#fields.errors('dueDate')}" th:text="${error}" />
                        </ul>
                    </div>
                </div>
                
                <div class="form-group col-12 col-md-4 mb-2">
                    <label for="projectStartDate" class="form-label">Project Start Date</label>
                    <input type="text" id="projectStartDate" name="projectStartDate" class="form-control applyflatpickr" placeholder="YYYY/MM/dd" th:field="*{projectStartDate}" th:errorclass="is-invalid" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('projectStartDate')}">
                        <ul style="margin-bottom: -0.02rem;">
                            <li th:each="error : ${#fields.errors('projectStartDate')}" th:text="${error}" />
                        </ul>
                    </div>
                </div>
                
                <div class="form-group col-12 col-md-4 mb-2 ">
                    <label for="projectEndDate" class="form-label">Project End Date</label>
                    <input type="text" id="projectEndDate" name="projectEndDate" class="form-control applyflatpickr" placeholder="YYYY/MM/dd" th:field="*{projectEndDate}" th:errorclass="is-invalid" />
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('projectEndDate')}">
                        <ul style="margin-bottom: -0.02rem;">
                            <li th:each="error : ${#fields.errors('projectEndDate')}" th:text="${error}" />
                        </ul>
                    </div>
                </div>
                
            </div>
            

            <button class="btn btn-success my-4">
                <i class="bi bi-floppy me-1"></i>
                <span>Save</span>
            </button>
                
        </form>

    </div>

</body>
</html>